body {
  background-size: size('beta/maria.jpg');
  width: width('beta/maria.jpg');
  height: height('beta/maria.jpg');

  width: width('beta/maria.jpg', 2);
  height: height('beta/maria.jpg', 2);

  width: width('beta/maria.jpg', 1.3);
}
