body {
  background: url('alpha/blank.gif');
  background: url(  'alpha/blank.gif' );
  background: url('alpha/kateryna.jpg');
  background: url('alpha/trapezium.svg');
  background: url('alpha/trapezium-single-quotes.svg');
}
