body {
  color: red;
  background: url(kateryna.jpg);
  background: url(  kateryna.jpg );
  background: url('kateryna.jpg');
  background: url("kateryna.jpg");
  background: url('odalisque.jpg');
  background: url('kateryna_(shevchenko).jpg');
  background: url('\6b ateryna.jpg');
  background: url('\kateryna.jpg');
  background: url('Ich \2665  B\FC cher.jpg');
  background: url('kateryna.jpg?foo=bar#baz');
  background: url('kateryna.jpg#baz');
  background: url('Gupsy Fortuneteller.jpg');
}
