body {
  color: red;
  background: url(/alpha/kateryna.jpg);
  background: url(/alpha/kateryna.jpg);
  background: no-repeat url(/alpha/kateryna.jpg) #000;
  background:
    url('/alpha/kateryna.jpg'),
    url('/alpha/odalisque.jpg');
  background: url('/alpha/kateryna.jpg');
  background: url('/alpha/kateryna.jpg');
  background: url('/alpha/kateryna.jpg');
  background: url('/alpha/odalisque.jpg');
  background: url('/alpha/kateryna_(shevchenko).jpg');
  background: url('/alpha/kateryna.jpg');
  background: url('/alpha/kateryna.jpg?foo=bar#baz');
  background: url('/alpha/kateryna.jpg#baz');
  background: url('/alpha/Gupsy%20Fortuneteller.jpg');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
}
