body {
  color: red;
  background: resolve(kateryna.jpg);
  background: resolve(  kateryna.jpg );
  background: no-repeat resolve(kateryna.jpg) #000;
  background:
    resolve('kateryna.jpg'),
    resolve('odalisque.jpg');
  background: resolve('kateryna.jpg');
  background: resolve('./kateryna.jpg');
  background: resolve("kateryna.jpg");
  background: resolve('odalisque.jpg');
  background: resolve('kateryna_(shevchenko).jpg');
  background: resolve('\6b ateryna.jpg');
  background: resolve('kateryna.jpg?foo=bar#baz');
  background: resolve('kateryna.jpg#baz');
  background: resolve('Gupsy Fortuneteller.jpg');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
}
