body {
  color: red;
  background: asset-url(kateryna.jpg);
  background: asset-url(  kateryna.jpg );
  background: asset-url('kateryna.jpg');
  background: asset-url("kateryna.jpg");
  background: asset-url('odalisque.jpg');
  background: asset-url('kateryna_(shevchenko).jpg');
  background: asset-url('\6b ateryna.jpg');
  background: asset-url('\kateryna.jpg');
  background: asset-url('Ich \2665  B\FC cher.jpg');
  background: asset-url('kateryna.jpg?foo=bar#baz');
  background: asset-url('kateryna.jpg#baz');
  background: asset-url('Gupsy Fortuneteller.jpg');
}
